/* Add this to your global CSS or a relevant stylesheet */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar in WebKit browsers */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Hides the scrollbar in IE and Edge */
    scrollbar-width: none;
    /* Hides the scrollbar in Firefox */
}

.card {
    border-color: transparent;
}


@media (max-width: 1024px) {
    .tags {
        overflow-x: auto;
    }

    .tags>div {
        flex: 0 0 auto;
        /* Prevents items from shrinking */
        scroll-snap-align: start;
        /* Aligns each item at the start */
        scroll-snap-type: x mandatory;
        /* Enables snap behavior */
    }
}