:root {
  --offset: 200px;
  /* The amount to subtract */
}

#root {
  background-color: #060610;
  height: 100%;
  box-sizing: border-box;
}

@media(min-width:1024px) {
  .main-data-container {
    flex: 1;
  }
}
.main-data-container{
  width:100%;
}
.custom-divider .ant-menu-item-divider {
  border-color: #25273f !important;
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu .ant-menu-item-divider {
  border-color: #25273f !important;
  width: 80%;
  margin-inline: auto;
}

/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6a0dad;
  /* Dark purple */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2c003e;
  /* Even darker background */
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6a0dad #2c003e;
}



:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-dark .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #c0b3f9 !important;
  color: black !important;
}


:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-dark .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-dark>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-dark .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-dark>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover {
  background-color: #c0b3f9 !important;
  color: black !important;
}

.custom-menu .ant-menu-item:hover .ant-menu-title-content,
.custom-menu .ant-menu-item:hover .ant-menu-item-icon {
  color: black !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;